goes2go
pyproj
pyyaml
numpy<2
pandas
matplotlib
cartopy
torch
torchvision
segmentation-models-pytorch
huggingface_hub
geopandas
shapely
h5py
boto3
earthaccess>=0.11
python-dotenv
cfgrib
eccodes
scipy
requests